{
  "name": "vagrant",
  "chef_type": "role",
  "json_class": "Chef::Role",
  "description": "vagrant instance, responsible for deploying a vm for a developer",
  "override_attributes": {
    "box_name": "vagrant"
  },
  "default_attributes": {
    "app" : {
        "servername" : "test.local",
        "base_dir" : "/vagrant_data"
    },
    "mysql" : {
        "database" : "test.local",
        "server_root_password" : "123qwe",
        "allow_remote_root" : true
    },
    "java" : {
        "install_flavor" : "openjdk",
        "jdk_version" : "7",
        "accept_license_agreement" : true
    },
    "graylog" : {
        "server": {
            "graylog2.conf" : {
                "password_secret" : "arobs123",
                "root_password_sha2" : "e831171f43ed3e1932f2aa502202e35f7935662429f6f23760025f98a4bad1cb"
            }
        },
        "web_interface" : {
            "graylog2-web-interface.conf": {
                "application.secret" : "arobs--123456789"
            }
        }
   }
  },
  "run_list": [
    "recipe[apt]",
    "recipe[vim]",
    "recipe[mysql::server]",
    "recipe[database::mysql]",
    "recipe[mysql-chef_gem]",
    "recipe[app::beanstalkd]",
    "recipe[java]",
    "recipe[ant]",
    "recipe[nginx]",
    "recipe[php]",
    "recipe[redisio]",
    "recipe[composer]",
    "recipe[liquibase]",
    "recipe[app::install]",
    "recipe[redisio::enable]",
    "recipe[graylog::default]",
    "recipe[git]"
  ]
}
