{
  "name": "vagrant",
  "chef_type": "role",
  "json_class": "Chef::Role",
  "description": "vagrant instance, responsible for deploying a vm for a developer",
  "override_attributes": {
    "box_name": "vagrant"
  },
  "default_attributes": {
    "app" : {
        "servername" : "test.dev",
        "base_dir" : "/vagrant_data"
      },
        "mysql" :{
        "database" : "test.dev",
        "server_root_password" : "123qwe",
        "allow_remote_root" : true
      }
    },
  "run_list": [
    "recipe[apt]",
    "recipe[mysql::server]",
    "recipe[database::mysql]",
    "recipe[mysql-chef_gem]",
    "recipe[app::java7]",
    "recipe[app::beanstalkd]",
    "recipe[ant]",
    "recipe[nginx]",
    "recipe[php]",
    "recipe[memcached]",
    "recipe[composer]",
    "recipe[liquibase]",
    "recipe[app::install]"
  ]
}